.nav-item
{
  margin-left: 0 !important;
}

.nav-item .nav-link:hover
{
  background-color: #ddd;
  cursor: pointer;
}

.nav-item .active:hover
{
  background-color: #0275d8;
  cursor: default;
}

.card-block
{
  min-height: 300px;
  margin-top: 15px;
}

.DetailsPage-BackBtn input
{
  float: right;
}
