.nav-pills
{
  margin-left: 0 !important;
}

.nav-pills .nav-link
{
  border-bottom: 1px solid #ddd;
}

.nav-pills .active
{
  border-bottom: none;
}

.nav-pills .nav-link:hover
{
  background-color: #ddd;
  cursor: pointer;
}

.nav-pills .active:hover
{
  background-color: #0275d8;
  color: white;
  cursor: default;
}

.card-block
{
  min-height: 300px;
  margin-top: 15px;
}

.DetailsPage-BackBtn input
{
  float: right;
}
