<div id="SearchPage container-fluid">
    <div class="SearchPage-AutoCompleteDiv row">
        <div class="container-fluid col-lg-12">
            <div class="row">
                <div class="col-lg-1"><h6>Search:</h6></div>
                <div class="col-lg-11"><app-autocomplete (onClick)="goToResultsPage()"></app-autocomplete></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" *ngFor="let type of linksList">
            <app-quicklinks [type]="type" (onClick)="goToResultsPage()"></app-quicklinks>
        </div>
    </div>
</div>
